extends layout_admin

block content
  //
    div
      input(type='text' data-text='room-search-input' placeholder='Room Id')
      button(data-text='room-search-button') Submit
    div
      input(type='text' data-text='user-search-input' placeholder='User Id')
      button(data-text='user-search-button') Submit
  block dashboardContent
  // script(src='/js/main.js')
