extends layout_dashboard

block dashboardContent
  section
    h1 Recent rooms
    table
      thead
        tr
          th Name
          th Created
          th Duration
      each val in data
        tr
          td
            a(href='/dashboard/rooms/' + val.id) #{val.name}
          td #{val.created_at}
          td #{val.duration}
    div
      // h3 Pages
      //- each page, index in pages
      //-   span
      //-     a(href='dashboard?limit=25&page=' + (index + 1)) #{index + 1}
